<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserManual</servlet-name>
        <servlet-class>com.controllers.UserManual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookControllers</servlet-name>
        <servlet-class>com.controllers.BookControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryControllers</servlet-name>
        <servlet-class>com.controllers.CategoryControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReaderControllers</servlet-name>
        <servlet-class>com.controllers.ReaderControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.controllers.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManual</servlet-name>
        <url-pattern>/UserManual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookControllers</servlet-name>
        <url-pattern>/Book/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryControllers</servlet-name>
        <url-pattern>/Category/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReaderControllers</servlet-name>
        <url-pattern>/Reader/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
